# Ignore node_modules
node_modules

# Ignore build directory (if you want to build in Docker)
build

# Ignore .env files
.env
.env.local
.env.development
.env.production
.env.test

# Ignore logs
*.log

# Ignore coverage reports
coverage

# Ignore any local IDE config files
.vscode
.idea
*.swp
*.swo
.DS_Store

# Ignore all other temporary files
*.tmp
*.bak
*.orig
